*{
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}